@font-face {
  font-family: "MM Text Pro WebTT";
  src: url(../images/MMTextProWebTT-Regular.woff2.ttf);
}
@font-face {
  font-family: "MM Headline Pro WebTT";
  src: url(../images/MMHeadlineProWebTTRegularRegular.ttf);
  src: url(../images/MMTextProWebTT-Regular.woff2.ttf);
}
